footer{
	background: none repeat scroll 0 0 #F3B29D;
    margin-top: 40px;
	color:$blanco;
	.container{
		background-color:$rosa;
		padding-bottom:60px;
		border-left: 12px solid $blanco;
    	border-right: 12px solid $blanco;
			p{
			font-family:Arial;
			font-size: 17px;
		}
	}
	
}

